*.~*
*.old
*.orig
*.dcu
*.drc
*.exe
*.map
*.rsm
*.local
*.tvsconfig
*.fdb
*.identcache
*.dproj.local
*.dsk
*.dll
*.bin
*.ini
*.lnk
*.bat
*.rar
*.gex
*.jsp
*.zip

*MemoryManager_EventosLog.txt

__history/